# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
#
#!/.config/lf/
#!/.config/newsboat/
#!/.config/nvim/
#!/.config/qBittorrent/qBittorrent.conf
#!/.config/sxiv/
#!/.config/zathura/
#
#!/.local/bin/
#
#!/.bashrc
#!/.bashrc_profile
#!/.xinitrc


